*{margin: 0px;
padding: 0px;}

.noidung:hover .chunho {
    opacity: 1;
}

.icon {
    position: absolute;
    top: 37%;
    left: 78%;
    z-index: 7;
    opacity: 0;
    transition: 0.6s;
    transition-delay: 0.5s;
}

.noidung:hover .icon {
    opacity: 1;
}

img.anhicon {
    height: 27px;
}

.chu {
    position: absolute;
    top: 42%;
    left: 10%;
    z-index: 6;
    font-size: 21px;
    font-family: sans-serif;
    opacity: 0;
    transition: 1.5s;
}

.noidung:hover .chu {
    opacity: 1;
}

.chu {}


.khungduoi {
    width: 1000px;
    height: 100px;
    background: #e2eae4bf;
    position: absolute;
    left: 0px;
    top: 85%;
    z-index: 5;
    opacity: 0;
    transition: 1s;
    transition-delay: 0.3s;
}

.noidung:hover .khungduoi {
    opacity: 1;
}

.chunho {
    width: 55%;
    position: absolute;
    top: 40%;
    left: 18%;
    text-align: center;
    z-index: 4;
    font-size: 18px;
    font-family: monospace;
    transition: 0.6s;
    opacity: 0;
}

.chuto {
    z-index: 3;
    position: absolute;
    top: 30%;
    left: 39%;
    font-size: 27px;
    font-family: monospace;
    transition: 0.4s;
    top: 41%;
}

.noidung:hover .chuto {top: 30%;}

.mauxam {
    width: 1000px;
    height: 650px;
    background: #7a8c9c75;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
    transition-delay: 0.1s;
}

.noidung:hover .mauxam {
    opacity: 1;
}

img.anh {
    width: 1000px;
    height: 650px;
    z-index: 1;
}

.noidung {width:1000px;height: 650px;margin: auto;position: relative;overflow: hidden;}